<form id="location-form">
<ul class="add-form">
{% if form.non_field_errors %}
<li>
<ul class="errorlist">{{ form.non_field_errors.as_ul }}</ul>
</li>
{% endif %}
{% csrf_token %}
<li>
{{ form.first_name }}
{{ form.first_name.errors }}
</li>
<li>
{{ form.last_name }}
{{ form.last_name.errors }}
</li>
<li>
{{ form.name }}
{{ form.name.errors }}
</li>
<li>
<input type="submit" value="Add" id="where-submit" />
</li>
</form>
{% if added %}
<div id="added-div">
    <span id="added-name">{{ name }}</span>
    <span id="added-loc">{{ location }}</span>
    <span id="added-lat">{{ lat }}</span>
    <span id="added-lon">{{ lon }}</span>
    <span id="added-updated">{{ updated }}</span>
</div>
{% endif %}
