{% extends "base.html" %}
{% block body %}
<h2>Why</h2>
<p>This tool helps visualize the dispersion of the Tufts class of 2012. It is
aimed at assisting members of the Tufts community in figuring out the general
distribution of the most recent Tufts grads, not in getting in contact with
them.</p>
<h2>Features</h2>
<p>Add people to the system via the form at the bottom of the page. If a person
is already in the system, their location is updated to the location you put in.
Search for a person by typing in their first or last name into the search box
on top. Click on their name as it appears. You can also use the polygon tool to 
see what people are within a certain area - activate the tool first by clicking
the button under the map, then click the map to set your first marker. Click
around to build your polygon, then click the first marker to complete it. The
names and locations of the people will show up below. If there are a large
number of results, you can scroll through them.
<br/>
Feedback? Questions? Feature request? Contact me!</p>

{% endblock body %}
