<!DOCTYPE html>
<html>
    <head>
        <title>Tufts 2012</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.18.css" />
        {% block extrastyle %}
        {{ extrastyle }}
        {% endblock extrastyle %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30684058-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
    </head>
    <body>
        {% block body %}
        {{ body }}
        {% endblock body %}
        <a href="http://akhaku.com">akhaku.com</a>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.7.2.min.js">
        </script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.18.min.js">
        </script>
        {% block extrascript %}
        {{ extrascript }}
        {% endblock extrascript %}
    </body>
</html>
