<!DOCTYPE html>
<html>
    <head>
        <title>Where is Tufts 2012?</title>
        <link rel="shortcut icon" href="{{MEDIA_URL}}favicon.ico" />
        <link rel="icon" href="{{MEDIA_URL}}favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.18.css" />
        {% block extrastyle %}
        {{ extrastyle }}
        {% endblock extrastyle %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30684058-1']);
            _gaq.push(['_trackPageview']);
            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
     </head>
     <body>
         <div id="overlay">
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
             <img src="{{MEDIA_URL}}img/loading-gif.gif" alt="Loading" />
         </div>
         <div id="wrapper">
             <div id="header">
                 <div>Where is Tufts 2012 headed?</div>
             </div>
             {% block body %}
             {{ body }}
             {% endblock body %}
             <br/>
             <br/>
             <div id="footer">
                 Designed and developed by Ammar Khaku, Tufts EN 12. Contact?
                 <a href="http://akhaku.com" target="_blank">akhaku.com</a>.
                 Hosted on <a href="http://heroku.com" target="_blank">Heroku</a>
             </div>
             <br/>
             <div class="clearfix"></div>
         </div>
         <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.7.2.min.js">
         </script>
         <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.18.min.js">
         </script>
         {% block extrascript %}
         {{ extrascript }}
         {% endblock extrascript %}
     </body>
 </html>
