{% extends "base.html" %}
{% block body %}
<div id="search-div">
    <br/>
    <input type="text" id="search-box" placeholder="Search name"/>
</div>
<div id="expl-div">
    Use the map to see where people from the Tufts class if 2012 will be after
    graduation. To see who is within a certain area, use the polygon tool:
    click the polygon tool below then start by clicking on the map to set your
    first marker. Click around to make your box, then click on the first point
    to close the box. <a href="{% url where.views.about %}">More info?</a>
</div>
<div class="clearfix"></div>
<div id="polygon-results-div">
    <ul id="polygon-results"></ul>
</div>
<div id="gmap"></div>
<div id="polygon-tools">
    <div id="polygon-on" class="polygon-but">Activate Polygon</div>
    <div id="polygon-clear" class="polygon-but depressed">Clear Polygons</div>
</div>
<div id="add-loc-but">
    <div id="add-location-div"></div>
</div>
{% endblock body %}
{% block extrascript %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/slimScroll.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/magic.js">
</script>
<script type="text/javascript">
    $(function() {
            var map = initialize();
            $('#add-location-div').load('{% url where.views.location_form %}',
                function() {
                locationFormListeners('{% url where.views.add_location %}', map);
                });
            $.getJSON('{% url where.views.locations_json %}',{}, function(data) {
                $.each(data['markers'], function(i, person) {
                    placeMarker(person['lat'], person['lon'], person['name'],
                        person['place'], map);
                    });
                });
            polygonListeners('{% url where.views.find_area %}', map);
            autocompleteInit('{% url where.views.search_ajax %}', map);
            polygonButtonListeners();
            });
</script>
{% endblock %}
