{% extends "base.html" %}
{% block body %}
<div id="search-div">
    <br/>
    <span>Search by name:</span>
    <input type="text" id="search-box" placeholder="Enter name"/>
    <div id="no-results"></div>
    <br/>
    <form action="" method="get" id="search-loc-form">
        <span>Search by location:</span>
        <input type="text" id="search-location" placeholder="Search location"/>
        <input type="submit" name="location" id="search-loc-but" value="Search"/>
    </form>
</div>
<div id="expl-div">
    Use the map to see where people from the Tufts class if 2012 will be after
    graduation. To see people within a certain area, use the <span class="bold">
        polygon tool</span>:
    <ol>
        <li>Click 'Activate Polygon' below to activate the tool</li>
        <li>Click on the map to set the first corner of the polygon.</li>
        <li>Specify the other corners of your polygon by clicking on the map in order.</li>
        <li>Click back on the first corner to close the polygon.</li>
    </ol><a href="{% url where.views.about %}">More info?</a>
</div>
<div class="clearfix"></div>
<div id="polygon-tools">
    <div id="polygon-on" class="polygon-but">Activate Polygon</div>
    <div id="polygon-clear" class="polygon-but">Clear Polygons</div>
</div>
<div class="clearfix"></div>
<div id="gmap"></div>
<div id="polygon-results-div">
    <ul id="polygon-results"></ul>
</div>
<div class="clearfix"></div>
<br/>
<br/>
<div id="add-loc-but">
    <h2>Add someone</h2>
    <div id="add-location-div"></div>
</div>
{% endblock body %}
{% block extrascript %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/slimScroll.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/magic.js">
</script>
<script type="text/javascript">
    $(function() {
            var map = initialize();
            $('#add-location-div').load('{% url where.views.location_form %}',
                function() {
                locationFormListeners('{% url where.views.add_location %}', map);
                });
            $.getJSON('{% url where.views.locations_json %}',{}, function(data) {
                $.each(data['markers'], function(i, person) {
                    placeMarker(person['lat'], person['lon'], person['name'],
                        person['place'], map);
                    });
                });
            polygonListeners('{% url where.views.find_area %}', map);
            autocompleteInit('{% url where.views.search_ajax %}', map);
            searchLocationListener('{% url where.views.search_loc_ajax %}', map);
            polygonButtonListeners();
            });
</script>
{% endblock %}
