@font-face {
    font-family: ThrowBold;
    src: url('../fonts/ThrowMyHandsUpintheAirBold.ttf');
}

html, body {
    font-family: Helvetica;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #3B240B;
}

ul.messages li.error { background-color: #B40404; }
ul.messages li.success { background-color: #21610B; }
ul.messages li.info { background-color: #071019; }

ul.errorlist { list-style-type: none; margin: 0px 0px 20px 0px; padding: 0px; }
ul.errorlist li { float: left; font-size: 12px; color: #8A0808; }

#header {
    font-family: ThrowBold;
    color: #3B240B;
    border-bottom: 3px dashed #190707;
}
#header div {
    padding-top: 20px;
    padding-left: 20px;
    height: 60px;
    font-size: 40px;
    letter-spacing: 4px;
}

#footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

div#flash {
    position: fixed;
    z-index: 5;
    top: 0px;
    right: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #FFF;
    opacity: 0.8;
    filter:alpha(opacity=80);
    border: 2px solid #61380B;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
    webkit-border-radius: 0px 0px 7px 7px;
    moz-border-radius: 0px 0px 7px 7px;
    display: none;
}

div#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    opacity: 0.6;
    filter:alpha(opacity=60);
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    display: none;
}

div#wrapper {
    min-width: 890px;
    color: #3B240B;
    width: 80%;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-left: 2px solid #190707;
    border-right: 2px solid #190707;
    padding-bottom: 0px;
    min-height: 100%;
}

a:link, a:visited {
    color: #08298A;
    text-decoration: none;
}
a:hover {
    color: #0404B4;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

div#gmap {
    max-width: 100%;
    float: left;
    height: 350px;
    width: 100%;
}
#polygon-results {
    max-height: 350px;
    padding: 0px;
    font-size: 12px;
}
div#polygon-results-div {
    max-height: 350px;
    float: left;
    width: 200px;
}
#polygon-results li {
    list-style-type: none;
}

#search-box {
    font-size: 20px;
    padding: 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

div#search-div {
    width: 250px;
    float: left;
}

#search-loc-form input[type='text'] {
    width: 160px;
}
#search-loc-form input[type='submit'] {
    font-size: 15px;
}

div.clearfix {
    clear: both;
}

ul.add-form {
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
}
ul.add-form li {
    list-style-type: none;
    float: left;
}
input {
    font-size: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 5px;
    color: #3B240B;
}
div#add-loc-but {
    clear: both;
}

div#expl-div {
    width: 600px;
    color: #3B240B;
    float: left;
    font-size: 15px;
    margin-left: 40px;;
    margin-top: 20px;
}

ul.ui-autocomplete { max-height: 300px; overflow-y: auto}

div.polygon-but {
    color: #3B240B;
    border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    padding: 5px;
    float: left;
    width: 120px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px outset #3A2F0B;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 0px 0px 0px #888;
    webkit-box-shadow: 0px 0px 0px #888;
    -moz-webkit-box-shadow: 0px 0px 0px #888;
}
.polygon-but.depressed {
    color: #2E2E2E;
    background-color: #F3E2A9;
    border-style: inset;
    position: relative;
    top: -1px;
    left: -1px;
    box-shadow: -3px -3px 5px #888;
    webkit-box-shadow: -3px -3px 5px #888;
    -moz-webkit-box-shadow: -3px -3px 5px #888;
}

#polygon-tools {
    float: right;
    margin-right: 10px;
}

h2 {
    color: #191007;
    letter-spacing: 2px;
    font-weight: normal;
}
